@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  @apply dark:bg-dark-100 bg-light-100
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura/FuturaMedium.ttf');
}

@font-face {
  font-family: 'Futura Book';
  src: url('/fonts/Futura/FuturaBook.ttf');
}

@font-face {
  font-family: 'Futura Demi';
  src: url('/fonts/Futura/FuturaDemi.ttf');
}

@font-face {
  font-family: 'Futura Extra Bold';
  src: url('/fonts/Futura/FuturaExtraBold.ttf');
}

@font-face {
  font-family: 'Futura Heavy';
  src: url('/fonts/Futura/FuturaHeavy.ttf');
}

@font-face {
  font-family: 'Futura Light';
  src: url('/fonts/Futura/FuturaLight.ttf');
}

@font-face {
  font-family: 'Futura Bold';
  src: url('/fonts/Futura/FuturaBold.ttf');
}

@font-face {
  font-family: 'Visage Bold';
  src: url('/fonts/Visage/VisageBold.otf');
}

@font-face {
  font-family: 'Visage';
  src: url('/fonts/Visage/VisageRegular.otf');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/coolveticarg.otf');
}

@font-face {
  font-family: 'Coolvetica Bold';
  src: url('/fonts/coolvetica/CoolveticaRg-Bold.ttf');
}

@font-face {
  font-family: 'Coolvetica Heavy';
  src: url('/fonts/coolvetica/CoolveticaHv-Regular.ttf');
}

@font-face {
  font-family: 'Coolvetica Light';
  src: url('/fonts/coolvetica/CoolveticaLt-Regular.ttf');
}

@font-face {
  font-family: 'Coolvetica Extra Light';
  src: url('/fonts/coolvetica/CoolveticaEl-Regular.ttf');
}


.bg-hero {
  background-image: url('/images/gradient.svg');
  background-repeat: no-repeat;
  background-size: center;
  background-position: 50% 250%;
  animation: aumentarBackground 3s ease-in;
}

@keyframes aumentarBackground {
  0% {
   background-position: 50% 500%;
  }
  50% {
    background-position: 50% 400%;
  }
  100% {
    background-position: 50% 250%;
  }
}

.glass{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
