@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* #f6f6f6 */
    --foreground: 0 0% 20%; /* #333333 */

    --card: 0 0% 96%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 20%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 0 0% 96%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 0 0% 90%; /*#e7e7e7 */

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 0 0% 82%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 96%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 20%; /* #333333 */
    --foreground: 0 0% 96%; /* #f6f6f6 */

    --card: 0 0% 20%; /* #333333 */
    --card-foreground: 0 0% 96%; /* #f6f6f6 */

    --popover: 0 0% 20%; /* #333333 */
    --popover-foreground: 0 0% 96%; /* #f6f6f6 */

    --primary: 0 0% 96%; /* #f6f6f6 */
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 0 0% 27%; /* #454545 */
    --secondary-foreground: 0 0% 15%; /* #262626 */

    --muted: 0 0% 27%; /* #454545 */
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 0 0% 27%; /* #454545 */
    --accent-foreground: 0 0% 96%; /* #f6f6f6 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%; /* #f6f6f6 */

    --border: 0 0% 27%; /* #454545 */
    --input: 0 0% 27%; /* #454545 */
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/FuturaBook.ttf");
}

@font-face {
  font-family: "Futura Bold";
  src: url("/fonts/Futura/FuturaBold.ttf");
}

@font-face {
  font-family: "Futura Book";
  src: url("/fonts/Futura/FuturaBook.ttf");
}

@font-face {
  font-family: "Futura Demi";
  src: url("/fonts/Futura/FuturaDemi.ttf");
}

@font-face {
  font-family: "Futura ExtraBold";
  src: url("/fonts/Futura/FuturaExtraBold.ttf");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("/fonts/Futura/FuturaHeavy.ttf");
}

@font-face {
  font-family: "Futura Light";
  src: url("/fonts/Futura/FuturaLight.ttf");
}

@font-face {
  font-family: "Futura Medium";
  src: url("/fonts/Futura/FuturaMedium.ttf");
}

@font-face {
  font-family: "Relative";
  src: url("/fonts/Relative/Relative-Medium.ttf");
}

@font-face {
  font-family: "Relative Bold";
  src: url("/fonts/Relative/Relative-Bold.ttf");
}

@font-face {
  font-family: "Relative Book";
  src: url("/fonts/Relative/Relative-Book.ttf");
}

@font-face {
  font-family: "Visage";
  src: url("/fonts/Visage/VisageRegular.otf");
}

@font-face {
  font-family: "Visage Bold";
  src: url("/fonts/Visage/VisageBold.otf");
}

.overflow::-webkit-scrollbar {
  display: none;
  width: 0;
}

.neon {
  opacity: 1;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset,
    rgba(0, 255, 87, 0.25) 0px 0px 8px 4px;
}

.neon:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset,
    rgba(0, 255, 87, 0.25) 0px 0px 16px 8px;
}
