@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%; /* #FFFFFF */
		--foreground: 60 3% 6%; /* #111110 */
		--card: 0 0% 95.5%; /* #F4F4F4 */
		--card-foreground: 60 3% 6%; /* #111110 */
		--popover: 0 0% 95.5%; /* #F4F4F4 */
		--popover-foreground: 60 3% 6%; /* #111110 */
		--primary: 48 96% 89%; /* ##FEF3C7 */
		--primary-foreground: 60 3% 6%; /* #111110 */
		--secondary: 149 80% 90%; /* #D1FAE5 */
		--secondary-foreground: 60 3% 6%; /* #111110 */
		--muted: 220 14.3% 95.9%; /* #F3F4F6 */
		--muted-foreground: 220 8.9% 46.1%; /* #6B7280 */
		--accent: 0 0% 82%; /* #D1D5DB */
		--accent-foreground: 220.9 39.3% 11%; /* #111827 */
		--destructive: 0 84.2% 60.2%; /* #EF4444 */
		--destructive-foreground: 0 0% 95.5%; /* #F4F4F4 */
		--success: 120 39% 54%; /* #5CB85C */
		--success-foreground: 0 0% 95.5%; /* #F4F4F4 */
		--border: 220 13% 91%; /* #E5E7EB */
		--input: 220 13% 91%; /* #E5E7EB */
		--ring: 0 0% 20%; /* #333333 */
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		/* OnPholio Theme */
		--ring2: 200 35% 29%; /* #305364 */
		/* End Onpholio Theme */
	}

	.dark {
		--background: 60 3% 6%; /* #111110 */
		--foreground: 0 0% 100%; /* #FFFFFF */
		--card: 0 0% 8.5%; /* #151515 */
		--card-foreground: 0 0% 97%; /* #F7F7F7 */
		--popover: 0 0% 8%; /* #151515 */
		--popover-foreground: 0 0% 95.5%; /* #F4F4F4 */
		--primary: 20 69% 48%; /* #CD5D26 */
		--primary-foreground: 0 0% 97%; /* #F7F7F7 */
		--secondary: 26 73% 75%; /* #EEBB93 */
		--secondary-foreground: 0 0% 97%; /* #F7F7F7 */
		--muted: 0 0% 8%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 0 0% 82%; /* #D1D5DB */
		--accent-foreground: 220.9 39.3% 11%; /* #111827 */
		--destructive: 0 62.8% 30.6%; /* #7F1D1D */
		--destructive-foreground: 0 0% 97%; /* #F7F7F7 */
		--success: 120 31% 43%; /* #4C914C */
		--destructive-foreground: 0 0% 97%; /* #F7F7F7 */
		--border: 0 0% 30%;
		--input: 0 0% 8%;
		--ring: 216 12.2% 83.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224 76% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		/* OnPholio Theme */
		--ring2: 200 35% 29%; /* #305364 */
		/* End Onpholio Theme */
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: "Relative";
	src: url("/fonts/Relative/Relative-Medium.ttf");
}

@font-face {
	font-family: "Relative Bold";
	src: url("/fonts/Relative/Relative-Bold.ttf");
}

@font-face {
	font-family: "Relative Book";
	src: url("/fonts/Relative/Relative-Book.ttf");
}

@font-face {
	font-family: "Atelier";
	src: url("/fonts/Atelier/atelier.otf");
}

@font-face {
	font-family: "Formatek";
	src: url("/fonts/Formatek/formatek.ttf");
}

.overflow::-webkit-scrollbar {
	display: none;
	width: 0;
}

.neon {
	opacity: 1;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, rgba(0, 255, 87, 0.25)
		0px 0px 8px 4px;
}

.neon2 {
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, rgba(0, 255, 87, 0.25)
		0px 0px 16px 8px;
}

.neonDev1 {
	opacity: 1;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, #1d48e140 0px 0px 8px
		4px;
}

.neonDev2 {
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, #1d48e140 0px 0px 16px
		8px;
}

.neonStop1 {
	opacity: 1;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, #b2bd1240 0px 0px 8px
		4px;
}

.neonStop2 {
	box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px 0px inset, #b2bd1240 0px 0px 16px
		8px;
}

.blink-cursor {
	animation: BlinkCursor 1.5s steps(2) infinite;
}

@keyframes BlinkCursor {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.glass {
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(1px);
}

.glass2 {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
}

.mask {
	user-select: none;
	mask-image: linear-gradient(
		to right,
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 1) 10%,
		hsl(0 0% 0% / 1) 90%,
		hsl(0 0% 0% / 0)
	);
}

@keyframes scrollX {
	from {
		left: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
