@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #f2f2f2;
    --primary-100: #e6e6e6;
    --primary-200: #cccccc;
    --primary-300: #b3b3b3;
    --primary-400: #999999;
    --primary-500: #808080;
    --primary-600: #666666;
    --primary-700: #4d4d4d;
    --primary-800: #333333;
    --primary-900: #1a1a1a;
    --primary-950: #0d0d0d;
    
    --secondary-50: #f2f2f2;
    --secondary-100: #e6e6e6;
    --secondary-200: #cccccc;
    --secondary-300: #b3b3b3;
    --secondary-400: #999999;
    --secondary-500: #808080;
    --secondary-600: #666666;
    --secondary-700: #4d4d4d;
    --secondary-800: #333333;
    --secondary-900: #1a1a1a;
    --secondary-950: #0d0d0d;
    
    --accent-50: #f2f2f2;
    --accent-100: #e6e6e6;
    --accent-200: #cccccc;
    --accent-300: #b3b3b3;
    --accent-400: #999999;
    --accent-500: #808080;
    --accent-600: #666666;
    --accent-700: #4d4d4d;
    --accent-800: #333333;
    --accent-900: #1a1a1a;
    --accent-950: #0d0d0d;
    
  }
  .dark {
    --text-50: #0d0d0d;
    --text-100: #1a1a1a;
    --text-200: #333333;
    --text-300: #4d4d4d;
    --text-400: #666666;
    --text-500: #808080;
    --text-600: #999999;
    --text-700: #b3b3b3;
    --text-800: #cccccc;
    --text-900: #e6e6e6;
    --text-950: #f2f2f2;
    
    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;
    
    --primary-50: #0d0d0d;
    --primary-100: #1a1a1a;
    --primary-200: #333333;
    --primary-300: #4d4d4d;
    --primary-400: #666666;
    --primary-500: #808080;
    --primary-600: #999999;
    --primary-700: #b3b3b3;
    --primary-800: #cccccc;
    --primary-900: #e6e6e6;
    --primary-950: #f2f2f2;
    
    --secondary-50: #0d0d0d;
    --secondary-100: #1a1a1a;
    --secondary-200: #333333;
    --secondary-300: #4d4d4d;
    --secondary-400: #666666;
    --secondary-500: #808080;
    --secondary-600: #999999;
    --secondary-700: #b3b3b3;
    --secondary-800: #cccccc;
    --secondary-900: #e6e6e6;
    --secondary-950: #f2f2f2;
    
    --accent-50: #0d0d0d;
    --accent-100: #1a1a1a;
    --accent-200: #333333;
    --accent-300: #4d4d4d;
    --accent-400: #666666;
    --accent-500: #808080;
    --accent-600: #999999;
    --accent-700: #b3b3b3;
    --accent-800: #cccccc;
    --accent-900: #e6e6e6;
    --accent-950: #f2f2f2;
    
  }
}
